<!-- Footer -->
<footer class="page-footer dark-bg">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">End of studies project</h5>
          <p>This application is created by two student from the "Université Libre de Tunis" 
            in collaboration with the international company "TriTux" in Tunisia.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Student 1 </h5>
  
          <ul class="list-unstyled">
            <li>
              <h4>dhekrazribi1@gmail.com</h4>
            </li>
            <li>
              <i class="fa fa-phone" aria-hidden="true"></i> <b>+216 94 052 141</b>
            </li>
           
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Student 2</h5>
  
          <ul class="list-unstyled">
            <li>
              <h4>ici.hasnaouihamza@gmail.com</h4>
            </li>
            <li>
              <i class="fa fa-phone" aria-hidden="true"></i> <b>+216 24 255 955</b>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://www.ult-tunisie.com/"> ult-tunisie.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->