<div class="container">
    <h2 class="textual">Send Message</h2>
    <form #sendSmsform="ngForm" (ngSubmit)="sendSms()">
     <!-- <small [class.text-danger]="msg.status==500">{{msg.message}}</small>
     <small class="text-danger">{{msg}}</small>-->
      <div class="form-group">
        <label for="shortMessage">Message:</label>
        <textarea class="form-control" name=shortMessage placeholder="Enter your message" [(ngModel)]="sms.shortMessage" required #shortMessage="ngModel"
        [class.is-invalid]="shortMessage.invalid && shortMessage.touched"></textarea>
        
         <div *ngIf="shortMessage.errors && (shortMessage.invalid && shortMessage.touched)">
          <small class="text-danger" *ngIf="shortMessage.errors.required">Message is required field!</small>
        </div>
      </div>

      <div class="form-group">
        <label for="sourceAddr">Source Address:</label>
        <input type="tel" class="form-control" placeholder="Enter source address" name="sourceAddr" [(ngModel)]="sms.sourceAddr" required pattern="[0-9 ]{8}" #sourceAddr="ngModel"
        [class.is-invalid]="sourceAddr.invalid && sourceAddr.touched"
        >
        <div *ngIf="sourceAddr.errors && (sourceAddr.invalid && sourceAddr.touched)">
            <small class="text-danger" *ngIf="sourceAddr.errors.required">Source address is required field!</small>
             <small class="text-danger" *ngIf="sourceAddr.errors.pattern">Enter a valid phone number!</small>
          </div>
      </div>

      <div class="form-group">
        <label for="destAddr">Destination Address:</label>
        <input type="tel" class="form-control" placeholder="Enter destination address" name="destAddr" [(ngModel)]="sms.destAddr" required pattern="[0-9 ]{8}" #destAddr="ngModel"
        [class.is-invalid]="destAddr.invalid && destAddr.touched"
        >
        <div *ngIf="destAddr.errors && (destAddr.invalid && destAddr.touched)">
            <small class="text-danger" *ngIf="destAddr.errors.required" >Destination address is required field!</small>
        <small class="text-danger" *ngIf="destAddr.errors.pattern">Enter a valid phone number!</small>
          </div>
        
      </div>

      <button [disabled]="sendSmsform.form.invalid" type="submit" class="btn btn-info">Send Sms</button>
    </form>
  </div>
