<form  #form="ngForm" (ngSubmit)="onSubmit(form)" name="user">
  
  <button type="button" (click)="close()" class="close btn btn-info float-right"><i class="icon_close"></i></button>
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="user.id">
      <div >
        <small class="text-danger">{{msg}}</small>
        <div class="float-right btextual" *ngIf="email.errors && (email.invalid && email.touched)">
          <small class="text-danger" *ngIf="email.errors.required">Email is required field!</small>
          <small class="text-danger" *ngIf="email.errors.pattern">Enter a valid email!</small>
        </div>
        <label>Email</label>
        <div class="input-group input-group-lg" >
          <div class="input-group-prepend">
           <!-- <span class="input-group-text" id="inputGroup-sizing-lg">Email</span>-->
          </div>
          <input type="email" class="form-control" aria-label="Email"  name="email" [(ngModel)]="user.emailId" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" #email="ngModel"
          [class.is-invalid]="email.invalid && email.touched" aria-describedby="inputGroup-sizing-sm">
          
        </div>

        <div class="float-right btextual">
          <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">User name is required field!</small>
        </div>
        <label>Name</label>
          <div class="input-group input-group-lg" >
            <div class="input-group-prepend">
              
            </div>
          <input type="text" class="form-control"  name="userName" [(ngModel)]="user.userName" required #userName="ngModel"
          [class.is-invalid]="userName.invalid && userName.touched" aria-describedby="inputGroup-sizing-sm" aria-label="userName" 
          >
        </div>

        <div class="float-right btextual">
          <small class="text-danger" [class.d-none]="mobile.valid || mobile.untouched">mobile is required field!</small>
        </div>
        <label>Mobile</label>
          <div class="input-group input-group-lg" >
            <div class="input-group-prepend">
              
            </div>
          <input type="text" class="form-control"  name="mobile" [(ngModel)]="user.mobile" required #mobile="ngModel"
          [class.is-invalid]="mobile.invalid && mobile.touched" aria-describedby="inputGroup-sizing-sm" aria-label="mobile" 
          >
        </div>

        <div class="float-right btextual">
          <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">phone is required field!</small>
        </div>
        <label>Phone</label>
          <div class="input-group input-group-lg" >
            <div class="input-group-prepend">
              
            </div>
          <input type="text" class="form-control"  name="phone" [(ngModel)]="user.phone" required #phone="ngModel"
          [class.is-invalid]="phone.invalid && phone.touched" aria-describedby="inputGroup-sizing-sm" aria-label="phone" 
          >
        </div>

        <div class="float-right btextual">
          <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is required field!</small>
        </div>
        <label>Password</label>
        <div class="input-group input-group-lg" >
          <div class="input-group-prepend">
          </div>
            
          <input type="password" class="form-control"  name="password" [(ngModel)]="user.password" required #password="ngModel"
          [class.is-invalid]="password.invalid && password.touched" data-rule="minlen:8" data-msg="Please enter at least 8 chars"
          aria-describedby="inputGroup-sizing-sm" aria-label="password" >
         </div>


         <!--<div class="float-right btextual">
          <small class="text-danger" [class.d-none]="(pwd.value == password.value) || pwd.untouched">password and confirm password must be the same!</small>
         </div>
         <label>Confirm Password</label>
         <div class="input-group input-group-lg" >
          <div class="input-group-prepend">
          </div>
          <input type="password" class="form-control" name="pwd" #pwd="ngModel" [(ngModel)]="user.confirmPassword" required 
            [class.is-invalid]="pwd.invalid && pwd.touched" aria-describedby="inputGroup-sizing-sm" aria-label="confirmPassword">
          </div>-->

          
          <label for="roles">Role</label>
          <div class="input-group input-group-lg" >
            
            <select class="form-control" id="roles" aria-describedby="inputGroup-sizing-sm" aria-label="roles" 
            [(ngModel)]="user.roles" #roles>
              <option >User</option>
              <option >Administrator</option>
              
            </select>
          </div>
          <br>
          
        <div class="text-right">
          <button [disabled]="form.form.invalid" type="submit" class="btn btn-info">Submit</button>
          <button  type="reset" class="btn btn-light">Cancel</button>
        </div>
      
      </div>
    </form>